@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo-header {
    background-image: url('../images/logo.png');
    height: 150px; /* Altura do header */
    width: 300px; /* Largura do header */
    background-size: contain; /* Faz com que a imagem de fundo se ajuste ao tamanho do elemento */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center center; /* Centraliza a imagem de fundo no elemento */
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: top; /* Centraliza verticalmente */
    height: 15vh; /* Ajuste conforme necessário */
}

body {
    background-image: url('../images/bg.png'); /* Caminho para sua imagem de fundo */
    background-size: cover; /* Garante que a imagem de fundo cubra toda a página */
    background-position: center; /* Centraliza a imagem de fundo na página */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-attachment: fixed; /* Faz com que a imagem de fundo fique fixa ao rolar a página */
    color: #333; /* Cor padrão do texto */
    line-height: 1.6; /* Espaçamento entre linhas para melhor leitura */
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #191a38; /* Cor azul para destacar os títulos */
    font-weight: 700; /* Torna o título mais impactante */
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #191a38; /* Cor azul para destacar os títulos */
    font-weight: 700; /* Torna o título mais impactante */
}

#result {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
}

.rules {
    background: linear-gradient(145deg, #d2e1ff, #e6eeff);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px; /* Adiciona espaço abaixo das regras */
}

.rules h3 {
    margin-bottom: 10px;
    color: #0056b3; /* Cor mais escura para os subtítulos */
}

.rules ul {
    list-style-position: inside;
    padding-left: 20px; /* Adiciona um pouco de padding para alinhamento */
}

.rules li {
    margin-bottom: 8px;
    font-size: 1em;
}

input[type="text"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px; /* Bordas mais suaves */
    box-sizing: border-box;
    transition: border-color 0.3s; /* Suaviza a transição da cor da borda */
}

input[type="text"]:focus, input[type="tel"]:focus {
    border-color: #666; /* Cor da borda ao focar */
}

button {
    background-color: #191a38; /* Cor de fundo */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px; /* Bordas mais suaves */
    cursor: pointer;
    transition: background-color 0.3s; /* Suaviza a transição da cor de fundo */
}

button:hover {
    background-color: #191a38; /* Cor de fundo ao passar o mouse */
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px); /* Adiciona desfoque ao fundo */
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 50%; /* Ajuste para um tamanho maior */
    max-width: 600px; /* Limita o tamanho máximo */
    border-radius: 10px; /* Bordas arredondadas para um visual mais suave */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra para um efeito elevado */
    animation: fadeIn 0.3s; /* Efeito suave ao abrir */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .container, .popup-content {
        width: 90%; /* Ajusta a largura em dispositivos menores */
        margin: 10% auto;
    }

    h2 {
        font-size: 1.5em; /* Ajusta o tamanho do título para telas menores */
    }
}

.popup-round {
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; /* Torna o popup redondo */
    background-color: rgba(0,0,0,0.4); /* Fundo semitransparente */
    width: 300px;
    height: 300px; /* Tamanho do popup */
}

.popup-content-round {
    position: relative;
    border-radius: 50%; /* Mantém o conteúdo também redondo */
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    text-align: center;
}

.countdown-timer {
    font-size: 2em; /* Tamanho da fonte para a contagem regressiva */
    color: var(--deep-blue); /* Cor do texto, usando a cor da sua marca */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#countdownContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
#countdownContainer img {
    width: 300px;
    height: auto;
    position: relative;
}
  
#countdownTimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.form-group {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaçamento entre o label e o campo de entrada */
}

label {
    margin-right: 5px; /* Ajuste conforme necessário para mais espaço */
}

input[type="tel"] {
    flex-grow: 1; /* O campo de entrada ocupa o espaço restante */
}

