@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.logo img {
    width: 150px; /* Define um tamanho para a logo. Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 150px; /* Ajuste conforme a necessidade */
    transition: transform 0.5s ease;
}

.logo img:hover {
    transform: scale(1.05);
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    font-weight: 300;
}

#result {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
}

.rules {
    background: linear-gradient(145deg, #d2e1ff, #e6eeff);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.rules h3 {
    margin-bottom: 10px;
    color: #333;
}

.rules ul {
    list-style-position: inside;
}

.rules li {
    margin-bottom: 8px;
    font-size: 1em;
}

/* Adicionando um pouco de animação ao carregar a página */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    animation: fadeInUp 1s ease-out;
}
