@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.logo img {
    width: 150px; /* Define um tamanho para a logo. Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.logo {
    text-align: center; /* Centraliza a logo */
    margin-bottom: 20px; /* Espaço abaixo da logo */
}

.logo img {
    width: 150px; /* Define um tamanho para a logo. Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.rules {
    background-color: #f2f2f2; /* Cor de fundo para a seção de regras */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaço interno */
    margin-top: 20px; /* Espaço acima da seção de regras */
}

.rules h3 {
    color: #333; /* Cor do título das regras */
    margin-bottom: 15px; /* Espaço abaixo do título */
}

.rules ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0;
}

.rules li {
    background-color: #ffffff; /* Cor de fundo para cada regra */
    border: 1px solid #ddd; /* Borda para cada regra */
    border-radius: 5px; /* Bordas arredondadas para cada regra */
    padding: 10px; /* Espaço interno para cada regra */
    margin-bottom: 10px; /* Espaço entre as regras */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave para cada regra */
}
